
#center {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  
  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
  
}


/************GOOD************/

.container {
  display: flex;
  height: 99.94vh; /* valgfritt */
}

.left {
  border: solid white 1px;
  width: 50%;
  /* flex: 2; Denne og flex 1 vil fordele bredden prosentvis */
}

.right {
  border: solid white 1px;
  width: 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column; /* Legger elementer over og under hverandre i stedet for sidlengs når flex */
  /* flex: 1; Se flex 2 over */
  gap: 50px;
}

table, tr, th, td {
  border: solid white 1px;
  border-collapse: collapse;
  padding: 5px;
}

#hover:hover {
  background-color: rgb(78, 36, 78);
}

/************GOOD************/


/*
#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}
*/